utils/__pycache__/encrypt.cpython-311.pyc
utils/__pycache__/log.cpython-311.pyc
utils/__pycache__/ocr.cpython-311.pyc
utils/__pycache__/playwright.cpython-311.pyc
utils/__pycache__/selenium.cpython-311.pyc
utils/msedgedriver.exe
log/log.txt
img/needocr.png
data/__pycache__/path.cpython-311.pyc
config/__pycache__/config.cpython-311.pyc
config/config.json
